name: Publish to NPM

on:
    push:
        branches: [ 'master' ]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: checkout
              uses: actions/checkout@v3

            - name: setup node
              uses: actions/setup-node@v3
              with:
                node-version: 16
                registry-url: https://registry.npmjs.org/
                scope: '@hdriel'

            - name: building package
              run: | # Install npm packages and build lib output before publish
                npm ci

            - name: tests
              run: | # run tests
                npm test

            - name: publish step
              run: | # build lib output and publish
                npm publish
                npm run build
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
